**/obj/
**/bin/
**/debug/
*.user
*.userosscache
*.suo
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.log
*.lib
*.sbr
*.tlog
*.vspscc
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.swp
*._.swp
*.unsuccessfulbuild
.svn/
.idea/
.vs/
.DS_Store

